@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: rgb(156, 154, 154);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
